[Unit]
Description=B3 buttond service

[Service]
Type=simple
PIDFile=/run/bubba-buttond.pid
ExecStart=systemd-inhibit --what=handle-power-key --who=bubba-buttond /usr/sbin/bubba-buttond -f

[Install]
WantedBy=multi-user.target
