[Unit]
Description=B3 status led service (start/shutdown)

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/b3-set-led blue
ExecStop=/usr/sbin/b3-set-led purple

[Install]
WantedBy=multi-user.target
